<div *blockUI="'cadastro-cidades'">
  <div class="container">
    <form autocomplete="off" #cidadeForm="ngForm" (ngSubmit)="salvar(cidadeForm)">

      <div class="grid">

        <div class="col-12">
          <h1>{{editando? 'Editar' : 'Nova'}} Cidade</h1>
        </div>

        <div class="col-12 p-fluid">
          <label>Nome*</label>
          <input pInputText type="text" [(ngModel)]="cidade.nome" #nome="ngModel" name="nome" required minlength="3">
          <app-message [control]="nome.control" error="required" text="Informe o nome"></app-message>
          <app-message [control]="nome.control" error="minlength" text="O nome precisa conter no mínimo {{nome.errors?.['minlength']?.requiredLength }} caracteres"></app-message>
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label>Quantidade de Habitantes</label>
          <p-inputNumber [(ngModel)]="cidade.qtdHabitantes" name="qntdHabitantes" mode="decimal" locale="de-DE"></p-inputNumber>
        </div>

        <div class="col-12 md:col-6 p-fluid">
          <label>Estado*</label>
          <p-dropdown [required]="true" [filter]="true" [options]="estados" [(ngModel)]="estadoSelecionado" #estado="ngModel" name="estados" optionLabel="name" placeholder="Selecione"></p-dropdown>
          <app-message [control]="estado.control" error="required" text="Selecione um estado"></app-message>
        </div>

        <div class="col-12">
          <button [disabled]="cidadeForm.invalid || estadoSelecionado?.name===''" pButton type="submit"  label="{{ editando ? 'Atualizar' : 'Adicionar' }} " class="botao-cadastro"></button>
          <button pButton type="button" label="{{editando? 'Nova':'Limpar'}}" class="botao-cadastro" (click)="nova(cidadeForm)"></button>
          <a routerLink="/cidades">Voltar para consulta</a>
        </div>

      </div>

    </form>
  </div>
</div>
