<div class="container borda-nav">
  <div class="nav">
    <input type="checkbox">
      <span class="span-nav"></span>
      <span class="span-nav"></span>
      <div class="menu">
        <li><a routerLink="/cidades" routerLinkActive="ativo">Cidades</a></li>
        <li><a routerLink="/cidades/new" routerLinkActive="ativo">Nova<span class="white">.</span>Cidade</a></li>
        <li><a routerLink="/pessoas" routerLinkActive="ativo">Pessoas</a></li>
        <li><a routerLink="/pessoas/new" routerLinkActive="ativo">Nova<span class="white">.</span>Pessoa</a></li>
      </div>
  </div>
</div>